html, body, div, input, span, a, select, textarea, option, h1, h2, h3, h4, main, aside, article, section, header, p, footer, nav, pre {
    box-sizing: border-box;
    font-family: Tahoma, Geneva, sans-serif;
}
html {
    background-color: #F8F9F9;
    background: linear-gradient(0deg, #000000 0%, #000000 80%, #0b4703 80%, #036408 100%);
    padding: 30px;
    height: 100%;
}
input,textarea,select {
    outline: 0;
}
h1 {
    margin: 0;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000000;
    color: #00295e;
    font-weight: 600;
    background-color: #ffffff;
}
h1 i {
    padding-right: 10px;
    font-size: 24px;
}
.studentForm {
    background-color: #fcfbfa;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}
.studentForm .fields {
    position: relative;
    padding: 20px;
}
.studentForm select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #c7c9cb 50%), linear-gradient(135deg, #c7c9cb 50%, transparent 50%), linear-gradient(to right, #dfe0e0, #dfe0e0);
    background-position: calc(100% - 20px) 20px, calc(100% - 15px) 20px, calc(100% - 40px) 10px;
    background-size: 5px 5px, 5px 5px, 1px 25px;
    background-repeat: no-repeat;
}
.studentForm select option:first-child {
    display: none;
 }
.studentForm input[type="date"]::-webkit-calendar-picker-indicator {
    color: #000000;
    filter: invert(0.8);
}
.studentForm input[type="text"], 
.studentForm input[type="email"],
.studentForm input[type="date"],
.studentForm input[type="tel"],
.studentForm select {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #000000;
    width: 100%;
    flex-basis: 100%;
    height: 47px;
}
.studentForm input[type="text"]:focus, 
.studentForm input[type="email"]:focus,
.studentForm input[type="tel"]:focus,
.studentForm input[type="date"]:focus,
.studentForm select:focus {
    border: 1px solid #000000;
}
.studentForm input[type="text"]::placeholder, 
.studentForm input[type="email"]::placeholder, 
.studentForm input[type="tel"]::placeholder, 
.studentForm input[type="date"]:invalid, 
.studentForm textarea::placeholder,
.studentForm select:invalid {
    color: #858688;
}
.studentForm textarea {
    resize: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #000000;
    width: 100%;
    height: 150px;
}
.studentForm textarea:focus {
    border: 1px solid #000000;
}
.studentForm input[type="submit"] {
    display: block;
    margin-top: 15px;
    padding: 15px;
    border: 0;
    background-color: #0b4703 ;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
.studentForm input[type="submit"]:hover {
    background-color: #000000;
}
.studentForm input[name="email"] {
    position: relative;
    display: block;
}
.studentForm .field {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}
.studentForm label {
    font-size: 14px;
    font-weight: 600;
    color: #061631;
}
.studentForm .field i {
    position: absolute;
    color: #001325;
    top: 25px;
    left: 15px;
    z-index: 10;
}
.studentForm .field i ~ input {
    padding-left: 45px !important;
}
.studentForm .responses {
    padding: 15px;
    margin: 0;
}
.studentForm .fields .wrapper {
    display: flex;
    justify-content: space-between;
}
.studentForm .fields .wrapper > div {
    width: 100%;
}
.studentForm .fields .wrapper .gap {
    width: 35px;
}
